*
	margin: 0
	padding: 0

// main color
$red: #de2228
$black: #000
$white: #fff
$gray: #f2f2f2
// main color

.clearfix
	clear: both

.sid_space
	height: 50px

a
	font-family: Play
	transition: 0.5s
	text-decoration: none
	&:hover
		color: $red !important
li
	list-style: none
	font-family: 'Poiret One'
	line-height: 1.5

p
	font-family: 'Poiret One'
	line-height: 1.5

span
	font-family: Play

h2
	font-family: Play
	font-size: 24px
	color: $red
	margin-bottom: 10px

h4
	font-family: Play
	text-align: center
	font-size: 24px

header
	background-image: url(../img/cloud_1.png)
	background-repeat: no-repeat
	background-size: cover
	width: 100%
	height: auto

.topPanel
	background-color: $black
	padding: 10px 0 5px
	&__phone
		float: left
		& a
			text-decoration: underline
			color: $white
	&__lang
		float: right

.logoHeader
	img
		width: 145px
		margin: 20px auto
		display: block

.mainMenu
	width: 100%
	border-top: 2px solid $red
	border-bottom: 2px solid $red
	padding: 10px
	margin-bottom: 20px
	ul
		text-align: center
		li
			display: inline-block
			a
				text-transform: uppercase
				text-decoration: none
				color: $black
				padding: 5px 10px
				text-align: center

.sidSlider
	margin-top: 30px
	img
		margin: 0 auto
		display: block
		width: 100%

.promoBlock
	background-image: url(../img/cloud_2.png)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	width: 100%
	height: auto
	padding: 100px 0
	&__sidKatalog
		margin-bottom: 50px
		hr
			width: 40%
			height: 3px
			background-color: $red
			border: none
			float: left
			margin-right: 30px
		h3
			font-family: Play
			color: $red
			font-size: 28px
			border: 3px solid $red
			width: 200px
			float: left
			text-align: center
			margin: -20px auto 0
			transition: 0.5s
			&:hover
				border-color: $black
				color: $black
		img
			margin-top: -30px
			margin-left: 20px
			margin-bottom: 10px
		p
			font-family: Play
			text-align: center
			font-style: italic
			font-size: 12px
	&__sidSonderangebote
		margin-top: 70px
		hr
			width: 40%
			height: 3px
			background-color: $black
			border: none
			float: left
			&:last-child
				float: right
		h4
			margin-top: -20px
			float: left
			width: 20%

.promoProduct
	transition: 0.5s
	img
		width: 100%
	&__desc
		display: none
		color: $black

.sonderangebot
	background-image: url(../img/bg_auto_2.png)
	background-repeat: no-repeat
	background-position: center left
	width: 100%
	height: 600px
	padding: 100px 0
	&__desc
		width: 45%
		float: right
		h4
			color: $red
			float: left
		hr
			width: 40%
			height: 3px
			background-color: $red
			border: none
			float: right
			margin-top: 15px
		&-left
			img
				float: left
			h5
				font-family: Play
				font-weight: bold
				font-size: 18px
				float: left
				margin-right: 20px
				margin-top: 10px
				margin-bottom: 5px
			p
				margin-top: 10px
				font-family: 'Poiret One'
				text-decoration: underline
				font-size: 18px
			.sidrow
				margin: 30px 0
				h5
					width: 175px
					font-weight: bold
				img
					margin-right: 10px
				p
					color: $red
					padding-top: 10px
	&__btn
		margin-top: 20px
		margin-right: 180px
		float: right
		a
			color: $red
			border: 2px solid $red
			padding: 10px 15px
			&:hover
				border-color: $black
				color: $black !important
.sidText
	hr
		position: absolute
		float: left
		width: 20%
		height: 3px
		background-color: $red
		border: none
		margin-top: 15px
	h4
		text-align: center
	p
		font-family: 'Poiret One'
		font-size: 18px
		padding: 0 25px
		span
			font-family: 'Poiret One'
			color: $red

footer
	background-image: url(../img/bg_footer.png)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	width: 100%
	height: auto
	padding-top: 380px
	margin-top: -210px
	a
		font-family: Roboto
		font-size: 12px
		color: $white
	p
		font-family: Roboto
		font-size: 12px
		color: $white
	.bott
		p
			font-size: 11px
			margin-bottom: 20px
			text-align: justify
	.footerLeft
		margin-top: 50px
	.footerCenter
		img
			margin: 40px auto
			display: block
			&:hover
				background-image: url(../img/logo.png)
	.footerRight
		margin-top: 85px
		float: right
		li
			padding: 5p§x 0

.breadcrumbs
	span
		font-family: Play
		display: block
		text-align: center
		margin: 0 auto 20px
		a
			color: $black

.mainContent
	p
		font-size: 18px
		line-height: 1.5
	.sid_margin_top
		margin-top: 60px
	.sidText
		h4
			text-align: left
			color: $red
		p
			padding: 0
		&__par
			text-align: center
			font-weight: 300
			font-size: 24px
			margin: 50px 0
		.sid_align
			display: table
			height: 22em
			p
				display: table-cell
				vertical-align: middle
	h2
		span
			color: $black

.contactsInfo
	img
		float: left
		margin-right: 20px
	p
		font-family: Play
		float: left
		line-height: 20px
		margin-top: 10px
	a
		color: $black
		line-height: 60px
	&__address,
	&__phone,
	&__mail
		margin: 30px auto
		width: 265px

.filterContent
	h4
		color: $red
	span
		font-family: Play
		font-size: 18px
		text-align: center
		display: block
	&__img
		height: 145px
		&-car
			background-repeat: no-repeat
			width: 145px
			height: 145px
			margin: 10px
			transition: 0.5s
			margin: 20px auto
			&:hover
				background-image: url(../img/filter_hover.png)
				transition: 0.5s
				cursor: pointer
			span
				position: relative
				bottom: -120px
			&:hover span
				display: none
		&-bmw
			background-image: url(../img/filter_bmw.png)
		&-cadillac
			background-image: url(../img/filter_cadillac.png)
		&-ferrari
			background-image: url(../img/filter_ferrari.png)
		&-italdesign
			background-image: url(../img/filter_ital_design.png)
		&-lamborghini
			background-image: url(../img/filter_lamborghini.png)
		&-landrover
			background-image: url(../img/filter_land_rover.png)
		&-lexus
			background-image: url(../img/filter_lexus.png)
		&-maybach
			background-image: url(../img/filter_maybach.png)
		&-mclaren
			background-image: url(../img/filter_mc_laren.png)
		&-merc
			background-image: url(../img/filter_mercedes_benz.png)
		&-porsche
			background-image: url(../img/filter_porsche.png)
		&-tesla
			background-image: url(../img/filter_tesla.png)

.prodGrid
	&__item
		max-width: 350px
		margin: 15px auto
		color: $black
		&Content
			border: 1px solid $red
			border-top: none
			margin-top: -5px
			padding: 10px 20px 50px
			background-color: $gray
		&-img
			img
				width: 100%
		&-title
			h2
				font-family: Play
				font-size: 18px
				text-decoration: underline
				color: $black
		&-desc
			p
				font-family: Play
				font-size: 16px
				span
					float: right
			.sidSmall
				p
					font-size: 12px
		&-price
			float: left
			&New
				p
					color: $red
					font-size: 14px
					font-weight: bold
					font-family: Play
			&Old
				p
					color: $black
					font-size: 14px
					font-weight: bold
					font-family: Play
		&-btn
			float: right
			background-color: $gray
			margin-top: 10px
			a
				color: $red
				padding: 5px 10px
				border: 2px solid $red
				font-size: 14px
				font-weight: bold
				background-color: $gray
				transition: 0.5s
				&:hover
					transition: 0.5s
					font-weight: normal

.productLitGrid
	hr
		width: 25%
	h4
		width: 50%
		margin-top: -15px

.productCard
	img
		width: 100%
	&__img
		&-big
		&-small
	&__info
		&-header
			h1
				font-family: Play
				font-size: 24px
		&-desc
			margin-top: 20px
			max-width: 370px
			p
				line-height: 2
				font-family: Play
				font-size: 16px
				color: #898989
				span
					font-family: 'Poiret One'
					float: right
		&-price
			max-width: 370px
			margin: 20px 0
			p
				color: #898989
			&Actual
				p
					font-family: Play
					font-size: 24px
					color: $red
					font-weight: bold
					float: left
			&Btn
				margin: 20px 0
				position: relative
				top: -102px
				left: 0
				a
					color: $red
					padding: 5px 10px
					border: 2px solid $red
					font-size: 16x
					font-weight: bold
					transition: 0.5s
					float: right
					text-decoration: underline
					text-transform: uppercase
					&:hover
						transition: 0.5s
						font-weight: normal
		&-print
			margin: 20px 0
			a
				color: $black
				transition: 1s
				&:hover
					transition: 1s
					color: $red
				img
					width: 40px
					float: left
					margin-right: 20px
				p
					font-family: Play
					font-size: 16px
					font-weight: bold
	&__tabsName
		position: absolute
		bottom: 10px
		a
			color: $black
			padding: 5px 10px
			border: 2px solid $black
			font-size: 16x
			font-weight: bold
			transition: 0.5s
			text-decoration: underline
			&:hover
				transition: 0.5s
				border-color: $red
				color: $red
				font-weight: normal
	&__tabsContent
		&-header
			min-height: 60px
			h2
				font-size: 16px
				color: $black
				text-decoration: underline
		p
			font-family: Play
			font-size: 12px
			span
				font-weight: bold

.forTab
	&__column
		width: 33.33%
		float: left
	&__btn
		position: relative
		top: -80px
		right: -60%
		margin: 0 20px

.forTab > .div,
.forTab > input
	display: none

.forTab label
	padding: 5px 10px
	border: 2px solid $black
	cursor: pointer
	bottom: 1px
	text-decoration: underline

.forTab input[type="radio"]:checked + label
	border-color: $red
	color: $red
	font-weight: normal

.forTab > input:nth-of-type(1):checked ~ .div:nth-of-type(1),
.forTab > input:nth-of-type(2):checked ~ .div:nth-of-type(2),
.forTab > input:nth-of-type(3):checked ~ .div:nth-of-type(3)
	display: block

.sidBron
	background-color: $black
	color: $white
	img
		max-width: 100%
		height: auto
	.bron_header
		.mainMenu
			ul
				li
					a
						color: $white
	.breadcrumbs
		a
			color: $white
	.sid_btn
		a
			padding: 10px 15px
			border: 2px solid $red
			color: $red
			text-decoration: underline
			display: block
			width: 305px
			margin: 20px auto 0
			text-align: center
			&:hover
				background-color: $white
	.productLitGrid
		h4
			width: 30%
		hr
			background-color: $white
			width: 35%
	.sidText
		h4
			color: $red
			text-align: left
		p
			font-family: Play
		span
			font-family: Play
			color: $white
			text-align: center
			p
				font-size: 14px
		img
			margin: 0 auto
	.promoProduct__text
		li
			font-size: 18px
		.promoBlock__sidSonderangebote
			hr
				float: right
				background-color: $red
			h4
				float: right
	.sidText
		li
			font-size: 18px
		p
			font-family: 'Poiret One'
			padding: 0
		img
			transform: translateY(45px)
			margin: 0 auto 10px
			display: block
		.bulletImg
			img
				transform: translateY(-10px)
			p
				font-family: Play
				text-align: center
				margin-bottom: 30px
		img.table
			transform: none
	.screen_1
		padding: 30px 0
		height: 400px
		background-color: #fff
		background: linear-gradient(95deg, $black 50%, $white 60%)
		.sidTable
			img
				display: block
				margin: 0 auto
		.bronInfo
			img
				display: block
				margin: 0 auto
		&__text
			h4
				color: $red
				text-align: left
			p
		a
			padding: 10px 15px
			border: 2px solid $red
			color: $red
			text-decoration: underline
			display: block
			width: 165px
			margin: 20px auto 0
			text-align: center
			float: right
			&:hover
				background-color: $white