@charset "UTF-8";
* { margin: 0; padding: 0; }

.clearfix { clear: both; }

.sid_space { height: 50px; }

a { font-family: Play; -webkit-transition: 0.5s; transition: 0.5s; text-decoration: none; }
a:hover { color: #de2228 !important; }

li { list-style: none; font-family: "Poiret One"; line-height: 1.5; }

p { font-family: "Poiret One"; line-height: 1.5; }

span { font-family: Play; }

h2 { font-family: Play; font-size: 24px; color: #de2228; margin-bottom: 10px; }

h4 { font-family: Play; text-align: center; font-size: 24px; }

header { background-image: url(../img/cloud_1.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: auto; }

.topPanel { background-color: #000; padding: 10px 0 5px; }
.topPanel__phone { float: left; }
.topPanel__phone a { text-decoration: underline; color: #fff; }
.topPanel__lang { float: right; }

.logoHeader img { width: 145px; margin: 20px auto; display: block; }

.mainMenu { width: 100%; border-top: 2px solid #de2228; border-bottom: 2px solid #de2228; padding: 10px; margin-bottom: 20px; }
.mainMenu ul { text-align: center; }
.mainMenu ul li { display: inline-block; }
.mainMenu ul li a { text-transform: uppercase; text-decoration: none; color: #000; padding: 5px 10px; text-align: center; }

.sidSlider { margin-top: 30px; }
.sidSlider img { margin: 0 auto; display: block; width: 100%; }

.promoBlock { background-image: url(../img/cloud_2.png); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: auto; padding: 100px 0; }
.promoBlock__sidKatalog { margin-bottom: 50px; }
.promoBlock__sidKatalog hr { width: 40%; height: 3px; background-color: #de2228; border: none; float: left; margin-right: 30px; }
.promoBlock__sidKatalog h3 { font-family: Play; color: #de2228; font-size: 28px; border: 3px solid #de2228; width: 200px; float: left; text-align: center; margin: -20px auto 0; -webkit-transition: 0.5s; transition: 0.5s; }
.promoBlock__sidKatalog h3:hover { border-color: #000; color: #000; }
.promoBlock__sidKatalog img { margin-top: -30px; margin-left: 20px; margin-bottom: 10px; }
.promoBlock__sidKatalog p { font-family: Play; text-align: center; font-style: italic; font-size: 12px; }
.promoBlock__sidSonderangebote { margin-top: 70px; }
.promoBlock__sidSonderangebote hr { width: 40%; height: 3px; background-color: #000; border: none; float: left; }
.promoBlock__sidSonderangebote hr:last-child { float: right; }
.promoBlock__sidSonderangebote h4 { margin-top: -20px; float: left; width: 20%; }

.promoProduct { -webkit-transition: 0.5s; transition: 0.5s; }
.promoProduct img { width: 100%; }
.promoProduct__desc { display: none; color: #000; }

.sonderangebot { background-image: url(../img/bg_auto_2.png); background-repeat: no-repeat; background-position: center left; width: 100%; height: 600px; padding: 100px 0; }
.sonderangebot__desc { width: 45%; float: right; }
.sonderangebot__desc h4 { color: #de2228; float: left; }
.sonderangebot__desc hr { width: 40%; height: 3px; background-color: #de2228; border: none; float: right; margin-top: 15px; }
.sonderangebot__desc-left img { float: left; }
.sonderangebot__desc-left h5 { font-family: Play; font-weight: bold; font-size: 18px; float: left; margin-right: 20px; margin-top: 10px; margin-bottom: 5px; }
.sonderangebot__desc-left p { margin-top: 10px; font-family: "Poiret One"; text-decoration: underline; font-size: 18px; }
.sonderangebot__desc-left .sidrow { margin: 30px 0; }
.sonderangebot__desc-left .sidrow h5 { width: 175px; font-weight: bold; }
.sonderangebot__desc-left .sidrow img { margin-right: 10px; }
.sonderangebot__desc-left .sidrow p { color: #de2228; padding-top: 10px; }
.sonderangebot__btn { margin-top: 20px; margin-right: 180px; float: right; }
.sonderangebot__btn a { color: #de2228; border: 2px solid #de2228; padding: 10px 15px; }
.sonderangebot__btn a:hover { border-color: #000; color: #000 !important; }

.sidText hr { position: absolute; float: left; width: 20%; height: 3px; background-color: #de2228; border: none; margin-top: 15px; }
.sidText h4 { text-align: center; }
.sidText p { font-family: "Poiret One"; font-size: 18px; padding: 0 25px; }
.sidText p span { font-family: "Poiret One"; color: #de2228; }

footer { background-image: url(../img/bg_footer.png); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: auto; padding-top: 380px; margin-top: -210px; }
footer a { font-family: Roboto; font-size: 12px; color: #fff; }
footer p { font-family: Roboto; font-size: 12px; color: #fff; }
footer .bott p { font-size: 11px; margin-bottom: 20px; text-align: justify; }
footer .footerLeft { margin-top: 50px; }
footer .footerCenter img { margin: 40px auto; display: block; }
footer .footerCenter img:hover { background-image: url(../img/logo.png); }
footer .footerRight { margin-top: 85px; float: right; }
footer .footerRight li { padding: 5p§x 0; }

.breadcrumbs span { font-family: Play; display: block; text-align: center; margin: 0 auto 20px; }
.breadcrumbs span a { color: #000; }

.mainContent p { font-size: 18px; line-height: 1.5; }
.mainContent .sid_margin_top { margin-top: 60px; }
.mainContent .sidText h4 { text-align: left; color: #de2228; }
.mainContent .sidText p { padding: 0; }
.mainContent .sidText__par { text-align: center; font-weight: 300; font-size: 24px; margin: 50px 0; }
.mainContent .sidText .sid_align { display: table; height: 22em; }
.mainContent .sidText .sid_align p { display: table-cell; vertical-align: middle; }
.mainContent h2 span { color: #000; }

.contactsInfo img { float: left; margin-right: 20px; }
.contactsInfo p { font-family: Play; float: left; line-height: 20px; margin-top: 10px; }
.contactsInfo a { color: #000; line-height: 60px; }
.contactsInfo__address, .contactsInfo__phone, .contactsInfo__mail { margin: 30px auto; width: 265px; }

.filterContent h4 { color: #de2228; }
.filterContent span { font-family: Play; font-size: 18px; text-align: center; display: block; }
.filterContent__img { height: 145px; }
.filterContent__img-car { background-repeat: no-repeat; width: 145px; height: 145px; margin: 10px; -webkit-transition: 0.5s; transition: 0.5s; margin: 20px auto; }
.filterContent__img-car:hover { background-image: url(../img/filter_hover.png); -webkit-transition: 0.5s; transition: 0.5s; cursor: pointer; }
.filterContent__img-car span { position: relative; bottom: -120px; }
.filterContent__img-car:hover span { display: none; }
.filterContent__img-bmw { background-image: url(../img/filter_bmw.png); }
.filterContent__img-cadillac { background-image: url(../img/filter_cadillac.png); }
.filterContent__img-ferrari { background-image: url(../img/filter_ferrari.png); }
.filterContent__img-italdesign { background-image: url(../img/filter_ital_design.png); }
.filterContent__img-lamborghini { background-image: url(../img/filter_lamborghini.png); }
.filterContent__img-landrover { background-image: url(../img/filter_land_rover.png); }
.filterContent__img-lexus { background-image: url(../img/filter_lexus.png); }
.filterContent__img-maybach { background-image: url(../img/filter_maybach.png); }
.filterContent__img-mclaren { background-image: url(../img/filter_mc_laren.png); }
.filterContent__img-merc { background-image: url(../img/filter_mercedes_benz.png); }
.filterContent__img-porsche { background-image: url(../img/filter_porsche.png); }
.filterContent__img-tesla { background-image: url(../img/filter_tesla.png); }

.prodGrid__item { max-width: 350px; margin: 15px auto; color: #000; }
.prodGrid__itemContent { border: 1px solid #de2228; border-top: none; margin-top: -5px; padding: 10px 20px 50px; background-color: #f2f2f2; }
.prodGrid__item-img img { width: 100%; }
.prodGrid__item-title h2 { font-family: Play; font-size: 18px; text-decoration: underline; color: #000; }
.prodGrid__item-desc p { font-family: Play; font-size: 16px; }
.prodGrid__item-desc p span { float: right; }
.prodGrid__item-desc .sidSmall p { font-size: 12px; }
.prodGrid__item-price { float: left; }
.prodGrid__item-priceNew p { color: #de2228; font-size: 14px; font-weight: bold; font-family: Play; }
.prodGrid__item-priceOld p { color: #000; font-size: 14px; font-weight: bold; font-family: Play; }
.prodGrid__item-btn { float: right; background-color: #f2f2f2; margin-top: 10px; }
.prodGrid__item-btn a { color: #de2228; padding: 5px 10px; border: 2px solid #de2228; font-size: 14px; font-weight: bold; background-color: #f2f2f2; -webkit-transition: 0.5s; transition: 0.5s; }
.prodGrid__item-btn a:hover { -webkit-transition: 0.5s; transition: 0.5s; font-weight: normal; }

.productLitGrid hr { width: 25%; }
.productLitGrid h4 { width: 50%; margin-top: -15px; }

.productCard img { width: 100%; }
.productCard__info-header h1 { font-family: Play; font-size: 24px; }
.productCard__info-desc { margin-top: 20px; max-width: 370px; }
.productCard__info-desc p { line-height: 2; font-family: Play; font-size: 16px; color: #898989; }
.productCard__info-desc p span { font-family: "Poiret One"; float: right; }
.productCard__info-price { max-width: 370px; margin: 20px 0; }
.productCard__info-price p { color: #898989; }
.productCard__info-priceActual p { font-family: Play; font-size: 24px; color: #de2228; font-weight: bold; float: left; }
.productCard__info-priceBtn { margin: 20px 0; position: relative; top: -102px; left: 0; }
.productCard__info-priceBtn a { color: #de2228; padding: 5px 10px; border: 2px solid #de2228; font-size: 16x; font-weight: bold; -webkit-transition: 0.5s; transition: 0.5s; float: right; text-decoration: underline; text-transform: uppercase; }
.productCard__info-priceBtn a:hover { -webkit-transition: 0.5s; transition: 0.5s; font-weight: normal; }
.productCard__info-print { margin: 20px 0; }
.productCard__info-print a { color: #000; -webkit-transition: 1s; transition: 1s; }
.productCard__info-print a:hover { -webkit-transition: 1s; transition: 1s; color: #de2228; }
.productCard__info-print a img { width: 40px; float: left; margin-right: 20px; }
.productCard__info-print a p { font-family: Play; font-size: 16px; font-weight: bold; }
.productCard__tabsName { position: absolute; bottom: 10px; }
.productCard__tabsName a { color: #000; padding: 5px 10px; border: 2px solid #000; font-size: 16x; font-weight: bold; -webkit-transition: 0.5s; transition: 0.5s; text-decoration: underline; }
.productCard__tabsName a:hover { -webkit-transition: 0.5s; transition: 0.5s; border-color: #de2228; color: #de2228; font-weight: normal; }
.productCard__tabsContent-header { min-height: 60px; }
.productCard__tabsContent-header h2 { font-size: 16px; color: #000; text-decoration: underline; }
.productCard__tabsContent p { font-family: Play; font-size: 12px; }
.productCard__tabsContent p span { font-weight: bold; }

.forTab__column { width: 33.33%; float: left; }
.forTab__btn { position: relative; top: -80px; right: -60%; margin: 0 20px; }

.forTab > .div, .forTab > input { display: none; }

.forTab label { padding: 5px 10px; border: 2px solid #000; cursor: pointer; bottom: 1px; text-decoration: underline; }

.forTab input[type="radio"]:checked + label { border-color: #de2228; color: #de2228; font-weight: normal; }

.forTab > input:nth-of-type(1):checked ~ .div:nth-of-type(1), .forTab > input:nth-of-type(2):checked ~ .div:nth-of-type(2), .forTab > input:nth-of-type(3):checked ~ .div:nth-of-type(3) { display: block; }

.sidBron { background-color: #000; color: #fff; }
.sidBron img { max-width: 100%; height: auto; }
.sidBron .bron_header .mainMenu ul li a { color: #fff; }
.sidBron .breadcrumbs a { color: #fff; }
.sidBron .sid_btn a { padding: 10px 15px; border: 2px solid #de2228; color: #de2228; text-decoration: underline; display: block; width: 305px; margin: 20px auto 0; text-align: center; }
.sidBron .sid_btn a:hover { background-color: #fff; }
.sidBron .productLitGrid h4 { width: 30%; }
.sidBron .productLitGrid hr { background-color: #fff; width: 35%; }
.sidBron .sidText h4 { color: #de2228; text-align: left; }
.sidBron .sidText p { font-family: Play; }
.sidBron .sidText span { font-family: Play; color: #fff; text-align: center; }
.sidBron .sidText span p { font-size: 14px; }
.sidBron .sidText img { margin: 0 auto; }
.sidBron .promoProduct__text li { font-size: 18px; }
.sidBron .promoProduct__text .promoBlock__sidSonderangebote hr { float: right; background-color: #de2228; }
.sidBron .promoProduct__text .promoBlock__sidSonderangebote h4 { float: right; }
.sidBron .sidText li { font-size: 18px; }
.sidBron .sidText p { font-family: "Poiret One"; padding: 0; }
.sidBron .sidText img { -webkit-transform: translateY(45px); transform: translateY(45px); margin: 0 auto 10px; display: block; }
.sidBron .sidText .bulletImg img { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
.sidBron .sidText .bulletImg p { font-family: Play; text-align: center; margin-bottom: 30px; }
.sidBron .sidText img.table { -webkit-transform: none; transform: none; }
.sidBron .screen_1 { padding: 30px 0; height: 400px; background-color: #fff; background: linear-gradient(95deg, #000 50%, #fff 60%); }
.sidBron .screen_1 .sidTable img { display: block; margin: 0 auto; }
.sidBron .screen_1 .bronInfo img { display: block; margin: 0 auto; }
.sidBron .screen_1__text h4 { color: #de2228; text-align: left; }
.sidBron .screen_1 a { padding: 10px 15px; border: 2px solid #de2228; color: #de2228; text-decoration: underline; display: block; width: 165px; margin: 20px auto 0; text-align: center; float: right; }
.sidBron .screen_1 a:hover { background-color: #fff; }

/*# sourceMappingURL=style.css.map */